<!doctype html>
<html data-ng-app="armarRutina">
<head>
  <meta charset="utf-8">
  <title>Upptimus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Aplicación orientada a oficinistas con el fin de conbatir el sitting o sedentarismo de escritorio">
  <meta name="author" content="Jonatan Brown - Fundador de la Iniciativa Proa">
  <meta name="keywords" content="ejercicios, bienestar, oficina, exercises, wellness, office">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.27/angular-route.min.js"></script>
</head>

<body>
<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo Upptimus"></a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					
					<ul class="nav navbar-nav navbar-right">
                        <li id="bg-60">
                            <a href="#"><img src="img/notificaciones.png"  alt="notificaciones"></a>
                        </li>
                        <li>
                            <a href="#"><img class="img-circle" src="img/user-pic.png" height="48" width="48" alt="foto usuario"><p id="user">Augusto</p></a>
                        </li>
						
						
					</ul>
				</div>
				
			</nav>
			<div class="row clearfix">
				<div class="col-md-2 column titulo">
                    <a href="#"><img alt="atras" src="img/atras.png"><p>Atrás</p></a>
				</div>
                <div class="col-md-10 column titulo">
                    <h2>Arme su rutina</h2>
                    <h3>Elija las zonas del cuerpo a ejercitar</h3>
				</div>
				
			</div>
            
		</div>
	</div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2">
                
                <div class="col-md-4 cuerpo">
                </div>
                
                <div class="col-md-2 col-md-offset-1">
                    <div class="form-horizontal checks" role="form">
                        
                        <div class="form-group" ng-controller="controladorUpp">
                            
                            <div class="checkbox" ng-repeat="zona in zonasCuerpo" >
                                
                                    <label ng-model="zonaAdd">{{zona.nombre | uppercase}}</label>
                                
                                    <input type="checkbox" value="" >
                                
                            </div> 
                            
                            
                            <div class="col-sm-offset-2 col-sm-10 boton-abs">
                                <button type="submit" class="btn btn-default" ng-click="mostrarZonas()">Comenzar</button>
                            </div>
                            
                            
                                <p>{{deposito}}</p>

                            
                    </div>
                     
                        
                </div> 
            </div>
            <div class="col-md-1"></div>
                
        </div>
        </div>
    </div>
    
    <script>
        var miAplicacion = angular.module ('includes',[]) 
        var listaDeChecks = angular.module ('armarRutina',[])
        listaDeChecks.controller ('controladorUpp',['$scope', function($scope){
            
            $scope.zonasCuerpo = [
                {nombre: 'mente'},
                {nombre: 'ojos'},
                {nombre: 'cuello'},
                {nombre: 'espalda'},
                {nombre: 'muñecas'},
                {nombre: 'rodillas'},
                {nombre: 'tobillos'}
            ];
            
            $scope.deposito = [];
            
            $scope.mostrarZonas = function(){
                
                $scope.deposito.push($scope.zonaAdd)
                
            }
            
            
            
        
        }])
        
        
    </script>
    
</body>
</html>
